body{
	background: url(img/w9.jpg);
	background-size: cover;
	background-attachment: fixed;        
    background-repeat: no-repeat;

	
}
.search_block{
	position: relative;
	left:25px;
}
.dd1{
	color: aqua;
    font-size: 18px;
    font-family: monospace;
    text-align: center;
}
#result{
	font-family: auto;
    font-size: 18px;
    right: 140px;
    position: absolute;
    background: #808080;
    color: #3c0b0b;
    width: 380px;
    top: 48px;
    text-align: center;
    z-index: 1000;
   
}

#notif{
	position: absolute;
	width: 200px;
	background:url(https://community.thunkable.com/uploads/default/original/3X/5/f/5f775f4bfc828d774d15670be4f5e69fe8331e1c.jpeg);
	text-align: center;
	top: 50px;
	left:-14px; 	
    z-index: 10000;
}
.notif_block{
	position: relative;
}
.hh{
	font-size: 25px;
	color: #ccff02;
	font-family: sans-serif;
}

#main-div{
	background:url(http://konstantinmartynov.ru/sites/default/files/images/vk.jpg);
	height: 371px;
	width: 300px;
	position: absolute;
	right: 0;
	padding: 0px 15px;
	display: none;
	
}
.friend-data{
	font-size: 22px;
	text-align: center;
	width: 100%;
	height: 5%;
	
}
#send{
position: absolute;
right: 0;
margin-top: 5%;
}

.text-area{
	width: 100%;

	resize: none;
}
#close{
	float: right;
}
.photo_div{
	width: 250px;
	height: 250px;
}
.message{
	margin-top: 2%;
	text-align: center;
	width: 100%;
	height: 40%;
	background: white;
	overflow-y: scroll;

}
.my_status{
    z-index: 1;
    width: 315px;
    /* height: 213px; */
/*    position: absolute;*/
    top: 9%;
    left: 70px;
    right: 0;
    margin: auto;
    text-align: center;
	background:url(http://reynders.co/content/images/2018/01/whatsapp.jpg);
}
.my_posts{

	margin:0 auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 15%;
	width: 40%;

	text-align: center;
    border:
}
.hidephoto{
	display: none;
}

.frdiv{
	display: inline-block;
	margin: 15px 20px;
	background-color: rgba(204,255,255,0.5);
}

.btn:hover{
    background: #020000;    
    color: aquamarine;
    font-family:sans-serif;
 
}
#ss{
    position: relative;
    left: 40px;
    right: 0px;
    top: 0px;
    bottom: 0;
    margin: 0px;

    font-size: 25px;
    font-family: sans-serif;
}
#jj{
    color: aqua;
    font-family: monospace;
    font-size: 15px;

}



.nv{
    background: grey;
    position: relative;
}
.nv>li>a{
        color: #ccff02;
     position: absolute;

}
#ser{
    position: absolute;
    right: 120px;
    width: 400px;
    top: 11px;
    height: 35px;
    border: none;
    font-family: fantasy;
    font-size: 18px;
    text-align: center;
}
#s{
    color: aqua;
    width: 30px;
    height: 33px;
}
.ss{
    position: absolute;
   
    right: 100px;
    top: 11px;
    border: none;
    background: grey;
}

.ss:hover{
    color:black;
    background: aqua;
    
}
#im{
    left: -705px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 0;
    margin: auto;
    z-index: 1;
}
.an>h1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    top: -42px;
    
    left: 370px;
}
.im{
    left: 15px;
    top: 8px;
    position: absolute;
    z-index: 1000;
}
.an1{
    width: 400px;
    height: 100vh;
    background: grey;
    position: absolute;
    top: 60px;
}
.an1>h1{
    display: flex;
    position: relative;
    top: 30px;
    z-index: 1000;
    left: 190px;
}

.post1{
   width: 100%;
    height: auto;
}
.dell{
    float: right;
    border:none;
    background: #1f191b;
    color: aqua;

}
.dell:hover{
    color: red;
    background:#fff;
    cursor: pointer;
    
}
.post{
    display: block;
    margin: 23px 0 0 77px;
    background: #ffffff5e;
    color: white;
}
.btt{
    position: absolute;
    top: 135px;
    border: none;
    text-align: center;
    background: none;
    color: #0a0a0a;
    left: 143px;
    font-size: 18px;
    border-radius: 100px;
}

.btt:hover{
    cursor: pointer;
    color:#fff;
    background:darkred;
}
.na{
    position: absolute;
    top: 180px;
    left: 70px;
    text-align: center;
}

    
.h4{
    background: aliceblue;

}
.inform{
    height: 100vh;
    background: #d6d6d6;
    width: 100%;
    position: absolute;
    top: 313px;
    
}
.com{
    width: 100%;
    height: 30px;
    
}
.com1{
    font-size: 18px;
    float: none;
    width: 263px;
    border-radius: 10px;
    border: none;
}

.ppp{
    color: aqua;
    font-size: 35px;
    font-family: sans-serif;
}
.time{
    color: black;
}
.img{
    border-radius: 50%;
}
.jnjel{
    float: right;
    font-size: 14px;
    border: none;
}
.jnjel:hover{
    color:darkred;
    background: #020000;
}
.comments{
    border: none;
    background: khaki;
    border-radius: 20px;
    width: 126px;
    float: none;
    font-size: 18px;
    font-family: sans-serif;
}
.comments1{
    width:100%;
    background: #fff;
}